.header{
    width: 100%;
    height: 92px;
    background-color: #3C3A39;
}
.header-1{
     display: block; 
     margin-top: 0px;

}
.header-1-1{
    display: inline-block;
    color: white;
}
.header-2{
    display: block;
}

body{
   background-color: black;
    background-image: url(thumbnails/Illustration.png);
    width: 100%;


}
.sec1{  
    align-items: center;

}
.sec2{
    align-items: center;
}
.sec3{
    align-items: center;
    margin-bottom: 0px;
}
.sec4{
    display: block;
    margin-top: 0px;

}
.time{
    margin-top: 0px;
}
.title{
    margin-top: 150px;
    display: block;
    color: #FF6B00;
    width: 327px;
    height: 124px;
    font-weight:400px;
    font-size: 56px;
    line-height:64px ;
    text-align: center;
    margin-bottom: 2px;

}
.sub-title{
    margin-top: 0px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    width: 327px;
    height: 27px;
    font-family: roboto;
    font-weight: 700px;
    font-size: 24px;
    line-height: 32px;
    
}
.discription{
    margin-top: 0px;
    color: white;
    width: 327px;
    height: 123px;
    font: poppin;
    font-weight: 400px;
    size: 12px;
    line-height: 24px;
    text-align: center;
}
.logo-1{
    display: inline-block;
}
.logo-2{
    display: inline-block; 
}
.logo-3{
    display: inline-block;
}
.logo-4{
    display: inline-block;
}

.im-1{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    padding: 8px;
}
.im-2{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    padding: 8px;
   
}
.im-3{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    padding: 8px;
}
.im-4{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    padding: 8px;
}
